* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* common styles  */
.primary-btn {
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    border-radius: 5px;
    border: 0;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.fa-check {
    color: #16D887;
    margin-bottom: 8px;
}

/* header section styles  */
header {
    padding: 50px 230px 40px;
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

.header-texts {
    color: white;
    width: 500px;
    text-align: right;
    margin-right: -50px;
}

.header-title {
    font-size: 65px;
    font-weight: 700;
}

.header-description {
    font-size: 16px;
    line-height: 26px;
    margin: 25px 0px;
}

/* main section styles */
main {
    padding: 80px 230px 60px;
}

/* failure section styles */
.failure-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;
}

.failure-img {
    width: 400px;
}

.failure-description {
    margin: 24px 0px 16px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.failure-list>p {
    font-size: 16px;
    color: #444343;
}

/* my plan section style  */
.myplan-section {
    margin: 100px 0px;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 86px;
    margin-top: 60px;
}

.plan-title {
    margin: 20px 0 13px;
    color: #151414;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
}
.plan-subtitle{
    color: #737272;
    font-size: 18px;
}